
 { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: aqua; 
}

h1 {
    font-size: 99px;
    color: skyblue;
}

h2 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 200px;
}

header, footer, footer a {
    text-align: center;
    background-color: yellow;
    color: whitesmoke;
}

header img {
    width: /*  */;
    height: auto;
    float: center;
}

footer {
    font-size: 60px;
}